<footer class="site-footer" aria-label="main site footer">
	<div class="container-fluid">
		<div class="row flex-wrap flex-lg-nowrap m-0">
			<div class="col-12 col-lg-auto p-0">
				<nav class="site-footer-nav" aria-label="Site Footer Navigation">

					<ul class="nav social-nav">
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Facebook">
								<svg>
									<use xlink:href="/library/img/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Twitter">
								<svg>
									<use xlink:href="/library/img/icons.svg#twitter"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="YouTube">
								<svg>
									<use xlink:href="/library/img/icons.svg#youtube"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Email">
								<svg>
									<use xlink:href="/library/img/icons.svg#envelope-open-text"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item desktop-only">
							<a class="nav-link" href="#" aria-label="Print">
								<svg>
									<use xlink:href="/library/img/icons.svg#print"></use>
								</svg>
							</a>
						</li>
					</ul>

					<ul class="nav link-nav">
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="About Us">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Mission, Vision, & Values">Mission, Vision, <br /> & Values</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="News & Media">News & Media</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Volunteers">Volunteers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Vendors">Vendors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="UMC Foundation">UMC Foundation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" aria-label="Give To UMC">Give To UMC</a>
						</li>
						<li class="nav-item desktop-only">
							<a class="nav-link" href="#" aria-label="Contact Us">Contact Us</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-12 col-lg p-0">
				<nav class="site-footer-util-nav" aria-label="Site Footer Utility Navigation">
					<div class="d-flex justify-content-between">
						<ul class="nav util-nav">
							<li class="nav-item">
								<a class="nav-link" href="#" aria-label="Quick Care Clinic Locations">
									<svg>
										<use xlink:href="/library/img/icons.svg#quick-care"></use>
									</svg>
									Quick Care Clinic Locations
								</a>
							</li>
							<li class="nav-item desktop-only">
								<a class="nav-link" href="#" aria-label="UMC Children's Hospital">
									<svg>
										<use xlink:href="/library/img/icons.svg#childrens-hospital"></use>
									</svg>
									UMC Children's Hospital
								</a>
							</li>
							
						</ul>
						<ul class="nav util-nav desktop-only">
							<li class="nav-item">
								<a class="nav-link" href="#" aria-label="Parking at UMC">
									<svg>
										<use xlink:href="/library/img/icons.svg#parking-alt"></use>
									</svg>
									Parking at UMC
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" aria-label="Pay your Bill">
									<svg>
										<use xlink:href="/library/img/icons.svg#pay-alt"></use>
									</svg>
									Pay Your Bill
								</a>
							</li>
						</ul>
					</div>
					<address class="address">
						1800 W. Charleston Blvd Las Vegas, Nevada 89102
					</address>
					<div class="copyright">
						&copy; University Medical Center of Southern Nevada <span class="copyright-year"></span> | All Rights Reserved
					</div>
				</nav>
			</div>
		</div>
	</div>
</footer>