<header class="site-header" aria-label="main site header">
  <nav class="site-header-util-nav" aria-label="Utility Navigation">
    <button
      class="btn site-header-menu-btn"
      type="button"
      aria-label="Toggle mobile menu"
      data-icon="/library/img/icons.svg#mobile-nav"
      data-close-icon="/library/img/icons.svg#mobile-close"
    >
      <svg>
        <use xlink:href="/library/img/icons.svg#mobile-nav"></use>
      </svg>
    </button>
    <ul class="nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle login-link"
          href="#"
          aria-label="UMC LOGIN"
        >
          <svg>
            <use xlink:href="/library/img/icons.svg#login-outline"></use>
          </svg>
          <div>UMC LOGIN</div>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Patients</a></li>
          <li><a class="dropdown-item" href="#">Physicians</a></li>
          <li><a class="dropdown-item" href="#">Employee Portal</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link contact-link"
          href="tel:+16035555555"
          aria-label="Contact us at 1 (603) 555-5555"
        >
          <svg class="phone-icon">
            <use xlink:href="/library/img/icons.svg#contact-outline"></use>
          </svg>
          <div>Contact</div>
        </a>
      </li>
    </ul>
    <a class="site-header-logo" href="/" aria-label="Home page">
      <img
        class="img-load-lazy"
        data-src="/library/img/childrens-header-logo.png"
        alt="UMC logo"
        data-srcset="/library/img/childrens-header-logo.png"
      />
    </a>
    <div class="site-header-search">
      <button
        class="btn site-header-search-toggle"
        type="button"
        aria-label="Toggle site search"
        data-icon="/library/img/icons.svg#search-outline"
        data-close-icon="/library/img/icons.svg#mobile-close"
      >
        <svg class="search-icon">
          <use xlink:href="/library/img/icons.svg#search-outline"></use>
        </svg>
      </button>
      <button
        class="btn btn-link site-header-search-submit"
        type="button"
        aria-label="Submit site search"
      >
        <svg class="search-icon">
          <use xlink:href="/library/img/icons.svg#search-outline"></use>
        </svg>
      </button>
      <div class="site-header-search-dropdown">
        <input
          type="text"
          class="form-control"
          id="siteSearch"
          placeholder="Search"
        />

        <label class="sr-only" for="siteSearch">Search site</label>
      </div>
    </div>
  </nav>
  <nav class="site-header-nav" aria-label="Site Navigation">
    <ul class="nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          aria-label="Pediatric Emergency"
        >
          Pediatric Emergency
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" aria-label="UMC Hospital"
              >UMC Hospital</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Lions Burn Care Center"
              >Lions Burn Care Center</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="children's hospital of nevada"
              >children's hospital of nevada</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="quick & primary care"
              >quick & primary care</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Directions to UMC Hospital"
              >Directions to UMC Hospital</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Parking at UMC Hospital"
              >Parking at UMC Hospital</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Maps of UMC Hospital"
              >Maps of UMC Hospital</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Quick & Primary Care"
              >Quick & Primary Care</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="LOCATOR">LOCATOR</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="UMC Leadership"
              >UMC Leadership</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a
              class="dropdown-item"
              href="#"
              aria-label="Mission, Vision, & Values"
              >Mission, Vision, & Values</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          aria-label="Pediatric Services"
        >
          Pediatric Services
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" aria-label="Emergency & Trauma"
              >Emergency & Trauma</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Lions Burn Care Center"
              >Lions Burn Care Center</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="children's hospital of nevada"
              >children's hospital of nevada</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="quick & primary care"
              >quick & primary care</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Surgical Services"
              >Surgical Services</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Birthing Center"
              >Birthing Center</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Center for Transplantation"
              >Center for Transplantation</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="HIV/AIDS & Hepatitis wellness center"
              >HIV/AIDS & Hepatitis wellness center</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Bariatric Medicine Center"
              >Bariatric Medicine Center</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Heart Center"
              >Heart Center</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Oncology Care Center"
              >Oncology Care Center</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Outpatient physical therapy"
              >Outpatient physical therapy</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Imaging & Radiology"
              >Imaging & Radiology</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Lab Services"
              >Lab Services</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="Infection Prevention"
              >Infection Prevention</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          aria-label="Patients and Visitors"
        >
          PATIENTS & VISITORS
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" aria-label="Patient Login"
              >Patient Login</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Patient Information"
              >Patient Information</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Visitor Information"
              >Visitor Information</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Patient & Family Services"
              >Patient & Family Services</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a
              class="dropdown-item"
              href="#"
              aria-label="Physician Referral Service"
              >Physician Referral Service</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Directions to UMC Hospital"
              >Directions to UMC Hospital</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Parking at UMC Hospital"
              >Parking at UMC Hospital</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="Maps of UMC Hospital"
              >Maps of UMC Hospital</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          aria-label="Search Physicans"
        >
          Search Physicians
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" aria-label="Physician Login"
              >Physician Login</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Employee Login"
              >Employee Login</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a
              class="dropdown-item"
              href="#"
              aria-label="UNLV School of Medicine"
              >UNLV School of Medicine</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="For Physicians"
              >For Physicians</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="For Residents"
              >For Residents</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="For Nurses"
              >For Nurses</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Employee Services"
              >Employee Services</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="Careers at UMC"
              >Careers at UMC</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown mobile-only-spacer">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          aria-label="UMC For The Community"
        >
          UMC FOR THE COMMUNITY
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" aria-label="UMC Foundation"
              >UMC Foundation</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Volunteering"
              >Volunteering</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="UNLV School of Medicine"
              >UNLV School of Medicine</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="UMC Stories"
              >UMC Stories</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              aria-label="Healthy Living Institute"
              >Healthy Living Institute</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Support Services"
              >Support Services</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="Education & Events"
              >Education & Events</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="Publications & PR"
              >Publications & PR</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" aria-label="News & Media"
              >News & Media</a
            >
          </li>
          <li class="dropdown-menu-item-spaced">
            <a class="dropdown-item" href="#" aria-label="Giving to UMC"
              >Giving to UMC</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item mobile-only">
        <a class="nav-link" href="#" aria-label="Patient Login"
          >Patient Login</a
        >
      </li>
      <li class="nav-item mobile-only">
        <a class="nav-link" href="#" aria-label="Physician Login"
          >Physician Login</a
        >
      </li>
      <li class="nav-item mobile-only mobile-only-spacer">
        <a class="nav-link" href="#" aria-label="Employee Login"
          >Employee Login</a
        >
      </li>
      <li class="nav-item mobile-only mobile-only-highlight">
        <a class="nav-link" href="#" aria-label="UMC Children's Hospital"
          >UMC Children's Hospital</a
        >
      </li>
    </ul>
  </nav>
</header>
