<nav class="nav mobile-quick-links" aria-label="Quick Links">
  <span class="nav-item">
    <a class="nav-link" href="#" aria-label="Parking At UMC">
      <svg>
        <use xlink:href="/library/img/icons.svg#parking"></use>
      </svg>
      Parking at UMC
    </a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="#" aria-label="Facility Maps">
      <svg>
        <use xlink:href="/library/img/icons.svg#facility-maps"></use>
      </svg>
      Facility Maps
    </a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="#" aria-label="Travel to UMC">
      <svg>
        <use xlink:href="/library/img/icons.svg#travel"></use>
      </svg>
      Travel to UMC
    </a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="#" aria-label="Contact UMC">
      <svg>
        <use xlink:href="/library/img/icons.svg#contact"></use>
      </svg>
      Contact UMC
    </a>
  </span>
</nav>
