<div class="widget-wrapper">
    <section class="class-layout" aria-label="Section for UMC CARDIOLOGY SERIES">
        <div class="container">
            <h2 class="headline"><strong>UMC</strong> CARDIOLOGY SERIES <span>Lorem ipsum dolor sit amet</span></h2>
            <div class="row">
                <div class="col-12">
                    <div class="description-row">
                        <h5>DESCRIPTION:</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a magna lacinia, pretium tellus et, condimentum sapien. 
                            Ut condimentum metus maximus, dictum augue in, fringilla lacus. Phasellus euismod auctor mauris, condimentum rhoncus nisi suscipit a. 
                            Sed lobortis tempus odio id venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="class-info-row">
                        <div class="info-col">
                            <h5>LOCATION:</h5>
                            <div class="info-content">
                                <strong>UMC HOSPITAL</strong>
                                <a href="#" aria-label="link to 901 Rancho Lane Suite #180 Las Vegas Nevada 89106 detail page">901 Rancho Lane Suite #180 Las Vegas, Nevada 89106</a>
                            </div>
                        </div>
                        <div class="info-col">
                            <h5>DATE & TIME:</h5>
                            <div class="info-content">
                                <p><strong>FROM:</strong><strong>7/21/2021</strong><span>10:00:00 AM</span></p>
                                <p><strong>TO:</strong><strong>7/21/2021</strong><span>11:30:00 AM</span></p>
                            </div>
                        </div>
                        <div class="info-col">
                            <h5>COST:</h5>
                            <div class="info-content">
                                <strong>$00.00</strong>
                            </div>
                        </div>
                        <div class="info-col">
                            <h5>EMAIL:</h5>
                            <div class="info-content">
                                <a href="#" aria-label="email link to Amy.Runge@umcsn.com">Amy.Runge@umcsn.com</a>
                                <a href="#" aria-label="email link to Amy.Runge@umcsn.com">Amy.Runge@umcsn.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>