<div class="widget-wrapper">
    <section class="directions-to-section" aria-label="Driections To Section">
        <div class="container">
            <h2 class="headline">DRIVING DIRECTIONS TO UMC HOSPITAL</h2>
            <div class="content-section row">
                <div class="col-6 col-lg-3">
                    <h5>From the South via 95</h5>
                    <ul>
                        <li>Take US 95 North to Rancho Drive</li>
                        <li>South on Rancho Drive to Charleston Blvd.</li>
                        <li>East on Charleston Blvd.</li>
                        <li>UMC is on the North (left) side of the road</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <h5>From the South via I-15</h5>
                    <ul >
                        <li>Take I-15 North to West Charleston</li>
                        <li>UMC is on the North (right) side of the Road</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <h5>From the North via 95</h5>
                    <ul >
                        <li>Take US-95 North to Rancho Drive</li>
                        <li>South on Rancho Drive to Charleston Blvd.</li>
                        <li>East on Charleston Blvd.</li>
                        <li>UMC is on the North (left) side of the road</li>
                    </ul>
                </div>                
                <div class="col-6 col-lg-3">
                    <h5>From the North via I-15</h5>
                    <ul >
                        <li>Take I-15 North to West Charleston</li>
                        <li>UMC is on the North (right) side of the Road</li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="bottom-cta">
                        <a class="btn btn-secondary" href="#" aria-label="link to Google Maps">Google Maps for complete driving directions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>