<div class="widget-wrapper">
    <section class="doctor-bio-section" aria-label="Doctor's Name bio section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="headline">DOCTOR NAME</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, vitae.</p>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <img class="img-load-lazy" data-src="/library/img/image-callout.png" alt="Doctor Bio Image" data-srcset="/library/img/image-callout.png" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <p>Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus.
                                Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. 
                                Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. Integer justo augue, bibendum
                                nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. Integer justo augue, bibendum nec felis eu, dignissim 
                                venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. Integer justo augue, bibendum nec felis eu, dignissim venenatis. 
                                Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. Integer justo augue, bibendum nec felis eu, dignissim venenatis. 
                                Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>