<div class="widget-wrapper">
    <section class="donor-registration-section" aria-label="doner registration section">
        <div class="container">
            <h5>REGISTER TO BECOME A DONOR</h5>
            <div class="donor-list">
                <div class="donor">
                    <a href="#" aria-label="link to donor">
                        <img class="img-load-lazy" data-src="/library/img/NevadaDonor@3x.png" alt="Donor img" data-srcset="/library/img/NevadaDonor@3x.png" />
                    </a>
                </div>
                <div class="donor">
                    <a href="#" aria-label="link to donor">
                        <img class="img-load-lazy" data-src="/library/img/DonateLife@3x.png" alt="Donor img" data-srcset="/library/img/DonateLife@3x.png" />
                    </a>
                </div>
                <div class="donor">
                    <a href="#" aria-label="link to donor">
                        <img class="img-load-lazy" data-src="/library/img/UNOSlogo.png" alt="Donor img" data-srcset="/library/img/UNOSlogo.png" />
                    </a>
                </div>
                <div class="donor">
                    <a href="#" aria-label="link to donor">
                        <img class="img-load-lazy" data-src="/library/img/SRTRlogo.png" alt="Donor img" data-srcset="/library/img/SRTRlogo.png" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>