<div class="widget-wrapper">
    <section class="featured-content-section" aria-label="Featured Content Section">
        <div class="container">
            <h2 class="headline"><strong>UMC</strong> is home to</h2>
            <div class="content-section row">
                <div class="col-12 col-lg-6">
                    <ul>
                        <li><strong>Nevada's ONLY</strong> Level 1 Trauma Center</li>
                        <li><strong>Nevada's ONLY</strong> Designated Pediatric Trauma Center</li>
                        <li><strong>Nevada's ONLY</strong> Burn Care Center</li>
                        <li><strong>Nevada's ONLY</strong> Transplant Center</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6">
                    <ul class="flexed">
                        <li><strong>6,500 + per month</strong> <span>Patients treated at UMC's Emergency Room</span></li>
                        <li><strong>600 per week</strong> <span>Kids treated at UMC</span></li>
                        <li><strong>9 each day</strong> <span>Really long text that will wrap to the next line Lorem ipsum dolor sit amet.</span></li>
                        <li><strong>1,400 and 1,180</strong> <span>Physicians and Nurses, respectively, at UMC</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>