<div class="widget-wrapper">
    <section class="figures-achievements-section" aria-label="Section for figures and achievements">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="figures-col">
                        <div class="figure">
                            <p class="title">XXXXXX</p>
                            <p class="subtitle">LOREM IPSUM IM DOLAR</p>
                        </div>
                        <div class="figure">
                            <p class="title">XXXXXX</p>
                            <p class="subtitle">LOREM IPSUM IM DOLAR</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 px-sm-3">
                    <div class="img-col">
                        <img class="img-load-lazy" data-src="/library/img/image-callout.png" alt="Image callout example" data-srcset="/library/img/image-callout.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>