<div class="widget-wrapper">

    <div class="container d-none d-lg-block">
        <div class="row">
            <div class="col-lg-3">
                <a class="icon-callout" href="#" aria-label="Emergency Services">
                    <img class="img-load-lazy" data-src="/library/img/first-aid-solid.svg" alt="Image callout example" data-srcset="/library/img/first-aid-solid.svg" />
                    Emergency Services
                </a>
            </div>
            <div class="col-lg-3">
                <a class="icon-callout" href="#" aria-label="Patients & Visitors">
                    <img class="img-load-lazy" data-src="/library/img/hospital-user-solid.svg" alt="Image callout example" data-srcset="/library/img/hospital-user-solid.svg" />
                    Patients & Visitors
                </a>
            </div>
            <div class="col-lg-3">
                <a class="icon-callout" href="#" aria-label="UMC Children's Hospital">
                    <img class="img-load-lazy" data-src="/library/img/hospital-regular.svg" alt="Image callout example" data-srcset="/library/img/hospital-regular.svg" />
                    UMC Children's Hospital
                </a>
            </div>
            <div class="col-lg-3">
                <a class="icon-callout" href="#" aria-label="Traveling to UMC">
                    <img class="img-load-lazy" data-src="/library/img/route-solid.svg" alt="Image callout example" data-srcset="/library/img/route-solid.svg" />
                    Traveling to UMC
                </a>
            </div>
        </div>
    </div>
</div>