<div class="widget-wrapper">
  <div class="image-callout{% if imageLeft %} image-callout-left {% endif %}">
    <div class="container">
      <div class="image-callout-content">
        <h2>"I Survived Because of UMC"</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sed do
          eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor
        </p>
        <img
          class="img-load-lazy"
          data-src="/library/img/image-callout.png"
          alt="Image callout example"
          data-srcset="/library/img/image-callout.png"
        />
        <p>
          incididunt ut labore et dolore magna aliqua. Ut sed do eiusmod tempor
          incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut sed do eiusmod tempor incididunt ut labore et
        </p>
        <a class="btn btn-secondary" href="#"> UMC Patient Stories </a>
      </div>
    </div>
  </div>
</div>
