<div class="widget-wrapper">

    <div class="container">
        <h2 class="headline"><strong>Latest</strong> News</h2>
        <div class="latest-news-articles">
            <article class="card news-card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="h5">Lorem ipsum dolor sit amet, consectetur.</h3>
                    </div>
                    <p class="card-text">Integer justo augue, bibendum nec felis eu, dignissim venenatis nulla. Curabitur at elementum orci. maximus purus. </p>
                    <a href="#" class="card-link" aria-label="Learn more about Lorem ipsum">Learn More</a>
                </div>
            </article>
            <article class="card news-card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="h5">Lorem ipsum dolor sit amet consectetur adipscing elit.</h3>
                    </div>
                    <p class="card-text">Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. </p>
                    <a href="#" class="card-link" aria-label="Learn more about Lorem ipsum">Learn More</a>
                </div>
            </article>
            <article class="card news-card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="h5">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                    <p class="card-text">Integer justo augue, bibendum nec felis eu, dignissim venenatis nul>la. Curabitur at elementum orci. Pellentesque in auctor ex.</p>
                    <a href="#" class="card-link" aria-label="Learn more about Lorem ipsum">Learn More</a>
                </div>
            </article>
            <article class="card news-card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="h5">Lorem ipsum dolor sit amet</h3>
                    </div>
                    <p class="card-text">Integer justo augue, bibendum nec felis eu, dignissim venenatis nulla. Curabitur at elementum orci.</p>
                    <a href="#" class="card-link" aria-label="Learn more about Lorem ipsum">Learn More</a>
                </div>
            </article>
        </div>
        <div class="text-center d-none d-lg-block">
            <a class="btn btn-secondary wide" href="#" aria-label="View All news articles">View All</a>
        </div>
    </div>
        
</div>