<div class="media-info-news">
    <div class="container">
        <div class="media-info-inner">
            <h3 class="headline"><strong>Media</strong> Information</h3>
            <div class="media-info-articles">
                <article class="media-info-card">
                    <div class="card-img">
                        <img
                        class="img-load-lazy"
                        data-src="/library/img/image-callout.png"
                        alt="media example"
                        data-srcset="/library/img/image-callout.png"
                        />
                    </div>
                    <div class="card-content">
                        <a href="/#" aria-label="media image">Stock Photos</a>
                        <p class="card-title">Title</p>
                    </div>
                </article>
                <article class="media-info-card">
                    <div class="card-img">
                        <img
                        class="img-load-lazy"
                        data-src="/library/img/image-callout.png"
                        alt="media example"
                        data-srcset="/library/img/image-callout.png"
                        />
                    </div>
                    <div class="card-content">
                        <a href="/#" aria-label="media image">Stock Photos</a>
                        <p class="card-title">Title</p>
                    </div>
                </article>
                <article class="media-info-card">
                    <div class="card-img">
                        <img
                        class="img-load-lazy"
                        data-src="/library/img/image-callout.png"
                        alt="media example"
                        data-srcset="/library/img/image-callout.png"
                        />
                    </div>
                    <div class="card-content">
                        <a href="/#" aria-label="media image">Stock Photos</a>
                        <p class="card-title">Title</p>
                    </div>
                </article>
                <article class="media-info-card">
                    <div class="card-img">
                        <img
                        class="img-load-lazy"
                        data-src="/library/img/image-callout.png"
                        alt="media example"
                        data-srcset="/library/img/image-callout.png"
                        />
                    </div>
                    <div class="card-content">
                        <a href="/#" aria-label="media image">Stock Photos</a>
                        <p class="card-title">Title</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    
</div>