<div class="newsletter-cta">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg">
                <div class="newsletter-cta-content">
                    <h2 class="h5 headline-alt">Integer Elementum</h2>
                    <p>Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. Pellentesque in auctor ex, nec maximus purus. </p>
                </div>
            </div>
            <div class="col-12 col-lg-auto">
                <form class="form-section newsletter-cta-form">
                    <div class="form-row">
                        <div class="form-group col-lg-5">
                            <input class="form-control" type="text" id="newsletterFirstName" placeholder="First Name" />
                            <label class="sr-only" for="newsletterFirstName">First Name</label>
                        </div>
                        <div class="form-group col-lg-7">
                            <input class="form-control" type="text" id="newsletterLastName" placeholder="Last Name" />
                            <label class="sr-only" for="newsletterLastName">Last Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" id="newsletterEmail" placeholder="Email" />
                        <label class="sr-only" for="newsletterEmail">Email</label>
                    </div>
                    <div class="d-inline-flex justify-content-end flex-wrap flex-lg-nowrap">
                        <small>* Integer justo augue, bibendum nec felis eu, dignissim venenatis. Curabitur at elementum orci. Pellentesque in auctor ex, nec maximus purus. </small>
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>