<div class="widget-wrapper">
    <section class="oot-section" aria-label="Section for Out Of Town info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="headline">FROM OUT OF TOWN?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-12">
                    <article class="oot-card" aria-label="Nearest Airport card">
                        <img class="img-load-lazy" data-src="/library/img/plane-solid.svg" alt="Airplane icon" data-srcset="/library/img/plane-solid.svg" />
                        <div class="card-content">
                            <h6>NEAREST AIRPORT</h6>
                            <span>MCCARRAN INTERNATIONAL AIRPORT</span>
                            <span>10.5 MILES</span>
                            <a href="#" aria-label="View website">WEBSITE</a>
                            <p>5757 Wayne Newton Blvd, Las Vegas, NV 89119   (702) 261-5211</p>
                            <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </article>
                    <article class="oot-card" aria-label="Ground Transportation card">
                        <img class="img-load-lazy" data-src="/library/img/road-solid.svg" alt="Airplane icon" data-srcset="/library/img/road-solid.svg" />
                        <div class="card-content">
                            <h6>GROUND TRANSPORTATION</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                            </p>
                        </div>
                    </article>
                    
                    <article class="oot-card" aria-label="Airport Shuttle card">
                        <img class="img-load-lazy" data-src="/library/img/shuttle-van-solid.svg" alt="Airplane icon" data-srcset="/library/img/shuttle-van-solid.svg" />
                        <div class="card-content">
                            <h6>AIRPORT SHUTTLE</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </article>
                    
                    <article class="oot-card" aria-label="Taxi and Ride Share card">
                        <img class="img-load-lazy" data-src="/library/img/car-solid.svg" alt="Airplane icon" data-srcset="/library/img/car-solid.svg" />
                        <div class="card-content">
                            <h6>TAXI & RIDE SHARE</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>