<div class="pagination-wrapper">
    <ul class="pagination">
        <li class="pagination-item previous"><a href="#" aria-label="previous"><<</a></li>
        <li class="pagination-item active"><a href="#" aria-label="Go to page 1">1</a></li>
        <li class="pagination-item"><a href="#" aria-label="Go to page 2">2</a></li>
        <li class="pagination-item"><a href="#" aria-label="Go to page 3">3</a></li>
        <li class="pagination-item"><a href="#" aria-label="Go to page 4">4</a></li>
        <li class="pagination-item"><a href="#" aria-label="Go to page 5">5</a></li>
        <li class="pagination-item"><a href="#" aria-label="Go to page 6">6</a></li>
        <li class="pagination-item"><a href="#" aria-label="Go to page 7">7</a></li>
        <li class="pagination-item next"><a href="#" aria-label="next">>></a></li>
    </ul>
</div>