<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 col-lg-4">
            <div class="popular-search-list">
                <p class="title">POPULAR SEARCHES</p>
                <ul>
                    <li><a href="#" aria-label="link to UMC Hospital search">UMC Hospital</a></li>
                    <li><a href="#" aria-label="link to Lions Burn Care Center search">Lions Burn Care Center</a></li>
                    <li><a href="#" aria-label="link to Visitor Guidelines search">Visitor Guidelines</a></li>
                    <li><a href="#" aria-label="link to search result">Lorem Ipsum.</a></li>
                    <li><a href="#" aria-label="link to search result">Lorem Ipsum.</a></li>
                    <li><a href="#" aria-label="link to search result">Lorem Ipsum.</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>