<section class="quick-nav-section" aria-label="quick navigation section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <ul class="quick-links">
                    <li>
                        <div class="quick-link-dropdown no-children">
                            <a href="#" aria-label="link to page">UMC HOSPITAL</a>
                        </div>
                    </li>
                    <li>
                        <div class="quick-link-dropdown">
                            <a class="quick-link-dropdown-toggle current" href="#" aria-label="link to page">Emergency Department</a>
                            <button class="quick-link-dropdown-toggle">
                                <svg class="open">
                                    <use xlink:href="/library/img/fa.svg#plus-circle"></use>
                                </svg>
                                <svg class="close">
                                    <use xlink:href="/library/img/fa.svg#minus-circle"></use>
                                </svg>
                            </button>
                            <div class="quick-dropdown-menu">
                                <ul>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 1</a></li>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 2</a></li>
                                    <li class="dropdown-list-item">List Item 3</li>
                                    <li class="dropdown-list-item"><p>List Item 4</p></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quick-link-dropdown">
                            <a class="quick-link-dropdown-toggle" href="#" aria-label="link to page">Trauma Center</a>
                            <button class="quick-link-dropdown-toggle">
                                <svg class="open">
                                    <use xlink:href="/library/img/fa.svg#plus-circle"></use>
                                </svg>
                                <svg class="close">
                                    <use xlink:href="/library/img/fa.svg#minus-circle"></use>
                                </svg>
                            </button>
                            <div class="quick-dropdown-menu">
                                <ul>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 1</a></li>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 2</a></li>
                                    <li class="dropdown-list-item">List Item 3</li>
                                    <li class="dropdown-list-item"><p>List Item 4</p></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quick-link-dropdown">
                            <a class="quick-link-dropdown-toggle" href="#" aria-label="link to page">LIONS BURN CARE CENTER</a>
                            <button class="quick-link-dropdown-toggle">
                                <svg class="open">
                                    <use xlink:href="/library/img/fa.svg#plus-circle"></use>
                                </svg>
                                <svg class="close">
                                    <use xlink:href="/library/img/fa.svg#minus-circle"></use>
                                </svg>
                            </button>
                            <div class="quick-dropdown-menu">
                                <ul>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 1</a></li>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 2</a></li>
                                    <li class="dropdown-list-item">List Item 3</li>
                                    <li class="dropdown-list-item"><p>List Item 4</p></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quick-link-dropdown">
                            <a class="quick-link-dropdown-toggle" href="#" aria-label="link to page">PEDIATRIC EMERGENCY</a>
                            <button class="quick-link-dropdown-toggle">
                                <svg class="open">
                                    <use xlink:href="/library/img/fa.svg#plus-circle"></use>
                                </svg>
                                <svg class="close">
                                    <use xlink:href="/library/img/fa.svg#minus-circle"></use>
                                </svg>
                            </button>
                            <div class="quick-dropdown-menu">
                                <ul>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 1</a></li>
                                    <li class="dropdown-list-item"><a href="#" aria-label="dropdown link">List Item 2</a></li>
                                    <li class="dropdown-list-item">List Item 3</li>
                                    <li class="dropdown-list-item"><p>List Item 4</p></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-8">
                <div class="content-area">
                    <h2>LOREM IPSUM DOLOR</h2>
                    <p>
                        <i>
                            Lorem ipsum dolor sit <a href="#" aria-label="link">amet</a> consectetur adipisicing elit. Fuga, sit autem at fugit odio nesciunt porro aspernatur 
                            ex id saepe labore. Nobis alias quo, veritatis voluptas earum necessitatibus eos cupiditate. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, illum.
                            Praesentium, ad! Perspiciatis, totam autem!
                        </i>
                        <strong> - Mason VanHouweling, CEO UMC</strong>
                    </p>
                    <p>Lorem ipsum dolor, sit <a href="#" aria-label="link">amet</a> consectetur adipisicing elit. Possimus accusamus fuga aliquid adipisci quisquam praesentium beatae minima. Nobis qui eos 
                        asperiores doloremque, a ipsam iusto quibusdam laborum sapiente hic eaque. Consequatur, provident! Cupiditate, quidem ad facilis unde 
                        suscipit culpa veniam consequatur beatae sequi aut quibusdam nisi repellendus architecto id optio?
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus accusamus fuga aliquid adipisci quisquam praesentium beatae minima. Nobis qui eos 
                        asperiores doloremque, a ipsam iusto quibusdam laborum sapiente hic eaque. Consequatur, provident! Cupiditate, quidem ad facilis unde 
                        suscipit culpa veniam consequatur beatae sequi aut quibusdam nisi repellendus architecto id optio?
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus accusamus fuga aliquid adipisci quisquam praesentium beatae minima. Nobis qui eos 
                        asperiores doloremque, a ipsam iusto quibusdam laborum sapiente hic eaque. Consequatur, provident! Cupiditate, quidem ad facilis unde 
                        suscipit culpa veniam consequatur beatae sequi aut quibusdam nisi repellendus architecto id optio?
                    </p>

                    <ul>
                        <li>item 1</li>
                        <li>item 2</li>
                        <li>item 3</li>
                    </ul>

                    <ol>
                        <li>item 1</li>
                        <li>item 2</li>
                        <li>item 3</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>