<div class="widget-wrapper d-lg-none">
    <div class="quick-care-locator">
        <div class="container-fluid">
            <h2 class="h3"><strong>UMC Quick Care</strong> Locator</h2>
            <div class="form-group">
                <input class="form-control quick-care-locator-input" id="quickCareLocatorInput1" type="text" placeholder="Zip Code, City, Address" autocomplete="off" />
                <label class="sr-only" for="quickCareLocatorInput1">Enter zip code, city, or address to find nearby quick care locations</label>
            </div>
        </div>
        <div class="map-div" id="map-div-1" style="height:303px;" data-locations='[{"address":[42.99629720856099, -71.45435087483885],"name":"SilverTech Headquarters","link":"#"},{"address":[39.91914912046494, -86.22344015947583],"name":"SilverTech Indy","link":"#"}]'></div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbGvwaR_MvckOLp1fBMQvephi5E_YJ8Xg&libraries=places"></script>