<section class="register-for-event" aria-label="register for this event form">
    <div class="container">
        <h2 class="headline">Register for this event:</h2>

        <div class="form-wrapper">
            <div class="row">            
                <div class="col-xl-5 col-lg-4 col-7">
                    <div class="form-group">
                        <label for="reg-fname">*FIRST NAME:</label>
                        <input type="text" id="reg-fname" required>
                    </div>
                </div>
                
                <div class="col-xl-2 col-lg-4 col-5">
                    <div class="form-group">
                        <label for="reg-mid-initial">MIDDLE INITIAL:</label>
                        <input type="text" id="reg-mid-initial">
                    </div>
                </div>

                <div class="col-xl-5 col-lg-4">
                    <div class="form-group">
                        <label for="reg-lname">*LAST NAME:</label>
                        <input type="text" id="reg-lname" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="reg-phone">*PHONE:</label>
                        <input type="tel" id="reg-phone" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="reg-email">*EMAIL:</label>
                        <input type="email" id="reg-email" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="reg-prnr">IF UMC EMPLOYEEE, ENTER PRNR#:</label>
                        <input type="text" id="reg-prnr">
                    </div>
                </div>
            </div>

            <div class="submit-row row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="reg-comment">COMMENT:</label>
                        <textarea id="reg-comment"></textarea>
                    </div>
                </div>

                <div class="submit-col col-md-4">
                    <input type="submit" class="btn btn-secondary" value="JOIN CLASS" >
                    <div class="required-fields">*REQUIRED FIELDS</div>
                </div>

            </div>
            
        </div>

    </div>
</section>