<section class="search-events" aria-label="filter and search events">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="intro-text">UMC Clinical Education and Nursing Informatics offers a range of classes from ACLS, BLS, McKesson EHR, Skills Review, and much more.  <a href="" aria-label="Downloa the catalog and Calendar here">Downloa the catalog and Calendar here</a>, or search below.</div>
            </div>
        </div>

        <div class="event-filters">
            <div class="row">

                <div class="col-lg-6">

                    <div class="datepicker-row row mx-0">
                        <div class="date-wrapper form-inline form-group">
                            <label for="search-events-from" class="wide-col">FROM:</label>
                            <input type="text" class="datepicker" id="search-events-from" placeholder="MM/DD/YYYY">
                        </div>                        
                        <div class="date-wrapper form-inline form-group">
                            <label for="search-events-to">TO:</label>
                            <input type="text" class="datepicker" id="search-events-to" placeholder="MM/DD/YYYY">
                        </div>                        
                    </div>

                    <div class="types-row row mx-0">
                        <div class="form-group form-check form-check-inline wide-col">
                            <input class="form-check-input" type="checkbox" id="allTypes" value="option1">
                            <label class="form-check-label" for="allTypes">ALL</label>
                        </div>
                        <div class="form-group form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="communicationEdu" value="option2">
                            <label class="form-check-label" for="communicationEdu">COMMUNITY EDUCATION</label>
                        </div>
                        <div class="form-group form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="clinicalClasses" value="option3">
                            <label class="form-check-label" for="clinicalClasses">CLINICAL CLASSES</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <dir class="form-inline form-group">
                                <label for="location-filter" class="wide-col">LOCATION:</label>
                                <select id="location-filter">
                                    <option value="all">All Locations</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                </select>
                            </dir>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="form-inline form-group">
                                <label for="cat" class="wide-col-2">CATEGORY:</label>
                                <select id="cat">
                                    <option value="all">Category Name</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-3"></div>
                        <div class="col-12">
                            <div class="form-inline form-group">
                                <label for="textSearch" class="wide-col-2">TEXT SEARCH:</label>
                                <input type="text" id="textSearch" placeholder="Enter text about events">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-buttons">
                            <div class="wide-col-2">&nbsp;</div>
                            <input type="submit" class="btn btn-secondary" value="SEARCH EVENTS">
                            <a href="#" class="reset-btn btn btn-secondary">RESET</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="events-table">
            <table>
                <thead>
                    <tr>
                        <th>EVENT</th>
                        <th>LOCATION</th>
                        <th>COST</th>
                        <th>DATE & TIME</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="" aria-label="UMC Cardiology Series">UMC Cardiology Series</a></td>
                        <td>Delta Point Emerald Rm (<a href="" aria-label="901 S Rancho Lane">901 S Rancho Lane</a>)</td>
                        <td>Free</td>
                        <td>06/20/2018 07:00pm</td>
                    </tr>
                    <tr>
                        <td><a href="" aria-label="UMC Tumor Board Series">UMC Tumor Board Series</a></td>
                        <td>UMC Trauma Bldg. 4th Floor - CR G & H</td>
                        <td>Free</td>
                        <td>06/21/2018 12:00pm</td>
                    </tr>
                    <tr>
                        <td><a href="" aria-label="UMC Cardioloty Series">UMC Cardioloty Series</a></td>
                        <td>Delta Point Emerald Rm (<a href="" aria-label="901 S Rancho Lane">901 S Rancho Lane</a>)</td>
                        <td>Free</td>
                        <td>06/27/2018 07:00pm</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>