<div class="widget-wrapper">
    <div class="container">
        <div class="stat-cards">
            <div class="card stat-card">
                <div class="card-body">
                    <div class="card-title" data-num="6,500+"></div>
                    <hr />
                    <p class="card-text">EMERGENCY PATIENTS <br /> TREATED PER MONTH</p>
                </div>
            </div>
            <div class="card stat-card">
                <div class="card-body">
                    <div class="card-title" data-num="79,000">0</div>
                    <hr />
                    <p class="card-text">PATIENTS CARED FOR <br /> PER YEAR</p>
                </div>
            </div>
            <div class="card stat-card">
                <div class="card-body">
                    <div class="card-title" data-num="600">0</div>
                    <hr />
                    <p class="card-text">CHILDREN TREATED <br /> PER WEEK</p>
                </div>
            </div>
            <div class="card stat-card">
                <div class="card-body">
                    <div class="card-title" data-num="1,400">0</div>
                    <hr />
                    <p class="card-text">PHYSICIANS AT <br /> UMC</p>
                </div>
            </div>
        </div>
    </div>
</div>