<div class="widget-wrapper">
    <section class="team-members-section" aria-label="team members section">
        <div class="container">
            <h2 class="headline"><strong>MEET THE UMC</strong> HOSPITAL TEAM</h2>
            <div class="team-members">
                <div class="row">
                    <div class="col-6 col-xl-3">
                        <div class="card-wrapper">
                            <article class="team-member-card" aria-label="team member card">
                                <div class="card-img" style="background-image: url('{{ backgroundImage }}')"></div>
                                <div class="card-title">
                                    <a href="#" aria-label="link to doctors name page" class="h5">DOCTORS NAME</a>
                                </div>
                                <p class="description">Title</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="card-wrapper">
                            <article class="team-member-card" aria-label="team member card">
                                <div class="card-img" style="background-image: url('{{ backgroundImage }}')"></div>
                                <div class="card-title">
                                    <a href="#" aria-label="link to doctors name page" class="h5">DOCTORS NAME</a>
                                </div>
                                <p class="description">Title</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="card-wrapper">
                            <article class="team-member-card" aria-label="team member card">
                                <div class="card-img" style="background-image: url('{{ backgroundImage }}')"></div>
                                <div class="card-title">
                                    <a href="#" aria-label="link to doctors name page" class="h5">DOCTORS NAME</a>
                                </div>
                                <p class="description">Title</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="card-wrapper">
                            <article class="team-member-card" aria-label="team member card">
                                <div class="card-img" style="background-image: url('{{ backgroundImage }}')"></div>
                                <div class="card-title">
                                    <a href="#" aria-label="link to doctors name page" class="h5">DOCTORS NAME</a>
                                </div>
                                <p class="description">Title</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>