<div class="widget-wrapper">
    <section class="umc-care-filter" aria-label="Filter for UMC Quick and Primary Care Clinics">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="" class="umc-care-filter-form">
                        <div class="form-row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="checkboxInput">SEARCH BY: </label>
                                <div class="checkbox-wrapper">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="allCare" value="all" />
                                        <label class="form-check-label" for="allCare">
                                            QUICK & PRIMARY CARE
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="quickCare" value="quick-care" />
                                        <label class="form-check-label" for="quickCare">
                                            QUICK CARE
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="primaryCare" value="primary-care" />
                                        <label class="form-check-label" for="primaryCare">
                                            PRIMARY CARE
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="zipcodeInput">FIND CLINICS NEAR YOU</label>
                                <input type="text" id="zipcodeInput" placeholder="ENTER YOUR ZIP CODE" name="zipcodeInput">
                                <button class="btn btn-secondary umc-care-submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>