<div class="widget-wrapper">
    <section class="video-section" aria-label="video section">
        <div class="container">
            <h2 class="headline"><strong>UMC TRANSPLANT PROGRAM</strong> PATIENT VIDEOS</h2>
            <p>Nevada’s first kidney transplant took place at UMC, Nevada’s only transplant center, on Christmas Day 1989. Since then many patients have received the gift of life through the transplant program. The UMC multidisciplinary transplant team is comprised of physicians, nurses, pharmacists, dietitians, social workers, financial counselors and Living Donor coordinators who will happily assist you with all your transplantation questions and concerns. <a href="#" aria-label="learn more link" class="general-link">LEARN MORE</a></p>
            <div class="video-layout">
                <div class="video-card">
                    <div class="video-card-embed">
                        {% set modalId = "video-lightbox" %}
                        {% set iframeSrc = "https://www.youtube.com/embed/6qGiXY1SB68" %}
                        {% include "./video-embed.html" %}
                    </div>
                    <div class="video-card-body">
                        <h3 class="h5">Bryan Maloney Transplant</h3>
                        <p>"A husband and father of two receives a donated kidney that saves his life. "</p>
                    </div>
                </div>
                <div class="video-card">
                    <div class="video-card-embed">
                        {% set modalId = "video-lightbox" %}
                        {% set iframeSrc = "https://www.youtube.com/embed/6qGiXY1SB68" %}
                        {% include "./video-embed.html" %}
                    </div>
                    <div class="video-card-body">
                        <h3 class="h5">Bryan Maloney Transplant</h3>
                        <p>"A husband and father of two receives a donated kidney that saves his life. "</p>
                    </div>
                </div>
                <div class="video-card">
                    <div class="video-card-embed">
                        {% set modalId = "video-lightbox" %}
                        {% set iframeSrc = "https://www.youtube.com/embed/6qGiXY1SB68" %}
                        {% include "./video-embed.html" %}
                    </div>
                    <div class="video-card-body">
                        <h3 class="h5">Bryan Maloney Transplant</h3>
                        <p>"A husband and father of two receives a donated kidney that saves his life. "</p>
                    </div>
                </div>
                <div class="video-card">
                    <div class="video-card-embed">
                        {% set modalId = "video-lightbox" %}
                        {% set iframeSrc = "https://www.youtube.com/embed/6qGiXY1SB68" %}
                        {% include "./video-embed.html" %}
                    </div>
                    <div class="video-card-body">
                        <h3 class="h5">Bryan Maloney Transplant</h3>
                        <p>"A husband and father of two receives a donated kidney that saves his life. "</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>