.generic-alert {
  @include font-size(12);
  @include line-height(17);
  display: none;
  font-weight: 700;
  letter-spacing: 0.1px;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 20px 0 10px;
}
