.general-card {
    border: none;
    margin-bottom: 27px;
    max-width: 373px;

    img {
        width: 100%;
        margin-bottom: 26px;
    }

    h5 {
        margin-bottom: 6px;
        font-family: $secondary-font;
        line-height: 32px;
        color: $secondary;
    }

     p {
        line-height: 25px;
     }

    a {
        text-decoration: none;
        color: $link-color;

        &:hover,
        &:focus {
            text-decoration: 1px solid underline $link-color;
        }
    }

    .card-content > a:last-of-type { 
        text-decoration: none;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 25px;
        font-weight: 900;
        color: $link-color;
        letter-spacing: -0.41px;

        &:hover,
        &:focus {
            text-decoration: 2px solid underline $link-color;
        }
    }


    @include media-breakpoint-down(md) {
        img {
            max-width: 160px;
            max-height: 117px;
        }

        h5 {
            word-break: break-word;
        }
    }
}