<connectionStrings>
    <add name="CMSConnectionString" connectionString="Server=tcp:sql-st-shared-dev01.database.windows.net,1433;Initial Catalog=UMCChildrensHospital;Persist Security Info=False;User ID=cl_umcchildrenshospital_dbo;Password=Kf64dkVAvYa7ChvGHt;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>