{% set pageTitle = "Frontend Boilerplate Templates" %} {% extends
"../MasterPages/master.html" %} {% block content %}

<div class="container">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <h1 class="h2 text-center">Static HTML Templates</h1>

  <!-- Notes:  Put page comp into photoshop, and resize image and put 300px for height and let width shrink proportionately.   -->
  <div class="templateList">
    <a href="/home.html" title="">
      <div class="templateTitle">Homepage</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/inner.html" title="">
      <div class="templateTitle">Inner Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/inner-patient.html" title="">
      <div class="templateTitle">Inner Patient Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/inner-urgent.html" title="">
      <div class="templateTitle">Inner Urgent Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/components.html" title="">
      <div class="templateTitle">Inner Page Components</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/bio.html" title="">
      <div class="templateTitle">Doctor Bio Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/travel-to.html" title="">
      <div class="templateTitle">Travel To UMC Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/search.html" title="">
      <div class="templateTitle">Search Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/internal-class.html" title="">
      <div class="templateTitle">Internal Class Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/quick-primary-locations.html" title="">
      <div class="templateTitle">Quick And Primary Locations Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>

    <a href="/services-page.html" title="">
      <div class="templateTitle">Services Page</div>
      <img
        class="img-load-lazy"
        data-src="https://via.placeholder.com/300"
        data-srcset="https://via.placeholder.com/300 2x, https://via.placeholder.com/300 1x"
        alt=""
      />
    </a>
  </div>
</div>

{% endblock %}
